
/* for dormant.html */
.row {
    display: flex;
    flex-wrap: wrap;
}

.card-wrapper {
    flex: 0 0 calc(20% - 20px);
    margin: 10px;
}
/* for dormant.html */


/* for intelligence_hub */
.bg-light-yellow {
    background-color: rgb(255, 255, 131);
}
.bg-light-red {
    background-color: rgb(255, 44, 44);
}
.bg-light-green {
    background-color: rgb(9, 66, 255);
}
/* for intelligence_hub */


.plot {
    width: 20%;
    height: 350px;
    display: inline-block;
    position: relative;


  
}


body {
    background-color: white;
}



.main-svg{ 
    border: 1px solid rgb(3, 173, 159);
}


.plot.single {
    width: 80%;
    height: 500px;
    margin: 10px;
}

.arrow {
    position: relative;
    /* top: 0px; */
    bottom: 290px;
    left: 90px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.arrow .up-arrow {
    color: green;
}

.arrow .down-arrow {
    color: red;
}

.navbar {
    margin-bottom: 0;
  }
  
  .navbar .navbar-nav {
    margin-left: auto;
  }
  
  .navbar .navbar-nav .nav-item {
    margin-right: 2%; /* Adjust the margin as needed */
  }


#charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.error-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    animation: blink 1s infinite;
}

.smaller-button {
    font-size: 12px; /* Adjust the font size as needed */
    padding: 0.25rem 0.5rem; /* Adjust the padding as needed */
  }
  


@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

